.index {
  .clean-hero:first-child {
    height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, .35), rgba(255, 255, 255, 0.35)), url('../../assets/img/dashboard.jpg');
    background-size: cover;
  }
}