.dashboard {
  .clean-hero {
    color: rgba(0, 0, 0, 0.5);
    background: url('../../assets/img/dashboard.jpg') center center;
    height: 90vh;
    opacity: 1;
    filter: blur(0px);
    background-size: cover;
    width: 100%;
  }
}